body {
  width: 1200px;
  background: linear-gradient(450deg, #5b00c3, #5b00c3);
  }
  H1 {
    background: linear-gradient(450deg, #6800f1, #c38500 );
    font-size: 500%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  P {
    padding-left: 20px;
  }