body {
  width: 1250px;
  background: linear-gradient(450deg, #5b00c3, #6202cf);
  }
  H1 {
    background: linear-gradient(450deg, #6800f1, #c38500 );
    font-size: 500%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  P {
    padding-left: 20px;
  }