body {
  width: 200px;
  background: linear-gradient(450deg, #660BAB, #c300c3);
  }
  H1 {
    background: linear-gradient(400deg, #6800f1, #c38500 );
    font-size: 500%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  